.homeTitle {
    margin-top: 300px;
    text-align: center;
}

.homeAbout {
    text-align: center;
    margin-top: 20px;
}

.homeDiv {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
